
@import '../../assets/scss/style.scss';

.SubtitlePortfolio{
    @include media-breakpoint-down(sm) {
      margin: 0 0 2rem 0;
    }
    .line{
      margin: 0 40px 0 10px;
      color: green;
      border: 1px solid $theme-pf;
      width: 100%;
    }



  }